/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 7, 2017, 1:27:32 AM
    Author     : Sherif Medhat <sherif.mohamed.medhat@gmail.com>
*/

.flash-message{
    margin: 20px;
}

.inner-page-container{
    margin-top: 10px;
    margin-bottom: 10px;
}

.lessons-list{
    padding: 10px 0;
}

.subjects-list{
    margin: 10px;
}

.page_head{
    background:#24a1db;
}


.video_meta .description{
    text-align:right ;
    padding-bottom:20px;
}
.video_meta .description h3 {
    color:#24a1db;
    display:block;
    text-transform:uppercase;
    padding: 15px;
    border-right :8px solid;
    border-color:#f5d76e;
    margin: 0px
}
.video_meta .description h3 span {
    display:block;
}
.video_meta .description p{
    font-size:16px;
    font-weight:400;
    color:#8c9099;
    line-height:24px;
}


.video_meta .author{
    color:#8c9099;
}
.video_meta .author .by{
    color:#24a1db;
}

.content-card{
    height: 305px;
}

.subject-thumb{
    width: 160px;
}